{% extends 'common.html' %}
{% block head %}
流萤的秘密基地 | 激活
{% endblock %}

{% block right_content %}
<div class="post">
    <div class=post-Img-container> 
    
    </div>
    <div class=post-txt-container>
        <div class=post-txt-container-title>
            <h4 style=color:#66ccff>
                激活界面
            </h4>
        </div>
        <section class=post-detail-txt style=color:#d9d9d9>
            <p>选择要激活的UID:
                <select class=configSelect name=activate_uid>
                    {% for item in configMgr.mConfig[configMgr.mKey.WANT_REGISTER_ACCOUNTS].items() %}
                        {% if item[0] in ['111111111'] %}
            
                        {% else %}
                            <option value="{{item[0]}}">{{item[0]}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </p>
        </section>
    </div>
</div>
<div class="post-page">
    <button class="link-button" id="activate_submitChange" onclick="activate_submitChange()">激活选中UID</button>
    <button class="link-button" id="del_activate_submitChange" onclick="del_activate_submitChange()">删除选中UID</button>
</div>
{% endblock %}