<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
        <meta content="流萤的秘密基地" name="title">
        <meta content="Himesamanoyume" name="author-name1">
        <meta content="Princess Dreamland" name="author-name2">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}"/>
        <script src="{{ url_for('static', filename='js/jquery.js') }}" defer></script>
        <title>{% block head %}流萤的秘密基地 | 测试{% endblock %}</title>
    </head>
    <body class=body style=background-color:#3a3a3a {% block uid %} {% endblock %}>
        <header class=header>
            <div class="nav-out"> 
                <nav class=nav>
                    <a class=blogName id=nav-index href="./">
                        流萤的秘密基地
                    </a>
                    <div class="nav-container">
                        <div class="nav-content">
                            <a class="{% if url=='register' %}nav-link-active{% else %}nav-link{% endif %}" id="register"  href="/register">注册界面</a>             
                        </div>
                        <div class="nav-content">
                            <a class="{% if url=='activate' %}nav-link-active{% else %}nav-link{% endif %}" id="activate"  href="/activate">激活界面</a>            
                        </div>
                        {% block nav %}

                        {% endblock %}
                        <div class="nav-content">
                            <select class=configSelect id=nav-select-uid>
                                <option value="">选择UID跳转</option>
                                {% for loginUid in loginList %}
                                <option value="{{loginUid}}">{% if configMgr.mConfig[configMgr.mKey.DAILY_TASKS_FIN][loginUid] %}√|{% endif %}{{loginUid}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <main class=main>
            <div class=home-container>
                <div class=post-container>
                    <div class=post-sub-container>
                        <div class="post-container-sticky">
                            <div class="post">
                                <div class=post-Img-container> 
                                
                                </div>
                                <div class=post-txt-container>
                                    <div class=post-txt-container-title>
                                        <h4 style=color:#66ccff>
                                            HotaruAssistant
                                        </h4>
                                    </div>
                                    <section class=post-detail-txt style=color:#d9d9d9>
                                        {% for item in annList %}
                                        <div style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;margin:10px 0 0 0;'>
                                            <p style="margin: 0 20px 0 20px;"><b>{{item['Title']}}</b></p>
                                            <div style="font-size: 12px;line-height: 20px;padding: 0 20px;display: inline-block;transition-duration: .2s;">
                                            {{item['Content']}}
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% for item in updateList %}
                                        <div style='background-color:#405f42;box-shadow:3px 0 0 0 #5fb743 inset;margin:10px 0 0 0;'>
                                            <p style="margin: 0 20px 0 20px;"><b>新版本通知</b></p>
                                            <div style="font-size: 12px;line-height: 20px;padding: 0 20px;display: inline-block;transition-duration: .2s;">
                                            {{item['Content']}}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </section>
                                </div>
                            </div>
                            {% block left_content %}
                            <div class="post">
                                <div class=post-Img-container>
                            
                                </div>
                                <div class=post-txt-container>
                                    <div class=post-txt-container-title>
                                        <h4 style=color:#66ccff>
                                            官方资讯
                                        </h4>
                                    </div>
                                    <section class=post-detail-txt style=color:#d9d9d9>
                                        <iframe src="https://webstatic.mihoyo.com/hkrpg/announcement/index.html?auth_appid=announcement&authkey_ver=1&bundle_id=hkrpg_cn&channel_id=1&game=hkrpg&game_biz=hkrpg_cn&lang=zh-cn&level=1&platform=pc&region=prod_gf_cn&sdk_presentation_style=fullscreen&sdk_screen_transparent=true&sign_type=2&uid=1&version=1.41#/" style="border: 0;background-color:#d5d5d5;height:35vmax;width:100%"></iframe>
                                        {% for item in noticeList %}
                                        <div style='background-color:#40405f;margin:10px 0 0 0;'>
                                            <p style="margin: 0 20px 0 20px;"><b>{{item['title']}}</b></p>
                                            <div style="font-size: 12px;line-height: 20px;padding: 0 20px;display: inline-block;transition-duration: .2s;">
                                            {{item['day']}} 天 {{item['hour']}} 时后结束<br>{{item['start_time']}} - {{item['end_time']}}
                                            </div>
                                            <div style="background-color: #66ccff;width:{{item['progress'] * 100}}%;max-width:100%;height:3px;"></div>
                                        </div>
                                        {% endfor %}
                                    </section>
                                </div>
                            </div>
                            {% endblock %}
                        </div>
                    </div>
                    <div class=post-sub-container>
                        <div class="post-container-sticky">
                            {% block right_content %}
                            <div class="post">
                                <div class=post-Img-container> 
                                
                                </div>
                                <div class=post-txt-container>
                                    <div class=post-txt-container-title>
                                        <h4 style=color:#66ccff>
                                            通用右侧标题1
                                        </h4>
                                    </div>
                                    <section class=post-detail-txt style=color:#d9d9d9>
                                        <p>啥也没有</p>
                                    </section>
                                </div>
                            </div>
                            <div class="post-page">
                                <button class="link-button" id="temp1" onclick="">测试按钮1</button>
                                <button class="link-button" id="temp2" onclick="">测试按钮2</button>
                            </div>
                            <div class="post">
                                <div class=post-Img-container> 
                                
                                </div>
                                <div class=post-txt-container>
                                    <div class=post-txt-container-title>
                                        <h4 style=color:#66ccff>
                                            通用右侧标题2
                                        </h4>
                                    </div>
                                    <section class=post-detail-txt style=color:#d9d9d9>
                                        <p>啥也没有</p>
                                    </section>
                                </div>
                            </div>
                            <div class="post-page">
                                <button class="link-button" id="temp3" onclick="">测试按钮3</button>
                                <button class="link-button" id="temp4" onclick="">测试按钮4</button>
                            </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <aside class=info-container>
                    <div class=info-container-inner id=info-container-inner>
                        <div class=info style=background-color:#2b2b2b>
                            <div class=fiximg style=width:100%;border-bottom-left-radius:0;border-bottom-right-radius:0;display:block>
                                <div class=fiximg__container style=display:block;margin:0>
                                    <img class=info-icon loading=lazy src=https://blog.himesamanoyume.top/usericon.webp style=margin-top:20px;max-height:185px;border-radius:3px;max-width:185px;width:100%;border:0;background-color:#66ccff>
                                </div>
                            </div>
                            <div class=info-name style=color:#d9d9d9>
                                <ruby>姫様の夢<rt class='ttt' data-rt='等流萤'></rt></ruby>
                            </div>
                            <div class=info-txt style=color:#d9d9d9>
                                Himesamanoyume
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </main>
        <footer class=footer style=color:#d9d9d9>
            <div class=footer-content>
                Copyright © 2021-2024 @姫様の夢
            </div>
            <div class=footer-content>
                本软件永久免费,若被收取了费用说明您被骗了!
            </div>
            <div class=footer-content>
                <a href="./">HotaruAssistant</a> {{dataMgr.version}}
            </div>
        </footer>
    </body>
</html>
