
{% extends 'common.html' %}
{% block head %}
流萤的秘密基地 | 管理
{% endblock %}
{% block left_content %}
<div class="post-left">
    <div class=post-Img-container> 
        
    </div>
    <div class=post-txt-container>
        <div class=post-txt-container-title>
            <h4 style=color:#66ccff>
                {{uid}}每日情况
            </h4>
        </div>
        <section class=post-detail-txt style=color:#d9d9d9>
            {% for item in annList %}
            <div style='background-color:#40405f;margin:10px 0 0 0;'>
                <p style="margin: 0 20px 0 20px;"><b>{{item['Title']}}</b></p>
                <div style="font-size: 12px;line-height: 20px;padding: 0 20px;display: inline-block;transition-duration: .2s;">
                {{item['Content']}}
                </div>
            </div>
            {% endfor %}
            {% for key, value in configMgr.mConfig[configMgr.mKey.DAILY_TASKS][uid].items() %}
                <p>
                    <ruby>
                        {{key}}
                        <rt class='ttt' data-rt='{{taskScore[key]}}'></rt>
                    </ruby>
                    :
                    <input type="checkbox" name="daily_tasks" {% if not configMgr.mConfig[configMgr.mKey.DAILY_TASKS][uid][key] %} checked {% endif %}>
                </p>
            {% endfor %}
            <p><strong>当前活跃度</strong></p>
            {% if configMgr.mConfig[configMgr.mKey.DAILY_TASKS_FIN][uid] %}
            <blockquote>
            {% else %}
            <blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'>
            {% endif %}
            <p>{{configMgr.mConfig[configMgr.mKey.DAILY_TASKS_SCORE][uid]}}/500</p></blockquote>

            <p><strong>当前模拟宇宙积分</strong></p>
            {% if configMgr.mConfig[configMgr.mKey.UNIVERSE_FIN][uid] %}
            <blockquote>
            {% else %}
            <blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'>
            {% endif %}
            <p>{{configMgr.mConfig[configMgr.mKey.UNIVERSE_SCORE][uid]}}</p></blockquote>

            <p><strong>当前历战余响次数</strong></p>
            {% if configMgr.mConfig[configMgr.mKey.ECHO_OF_WAR_TIMES][uid] == 0 %}
            <blockquote>
            {% else %}
            <blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'>
            {% endif %}
            <p>{{configMgr.mConfig[configMgr.mKey.ECHO_OF_WAR_TIMES][uid]}}/3</p></blockquote>

            <p><strong>最新一期忘却之庭 - 混沌回忆</strong></p>
            {% if configMgr.mConfig[configMgr.mKey.FORGOTTENHALL_LEVELS][uid] == 12 %}
            <blockquote>
            {% else %}
            <blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'>
            {% endif %}
            <p>层数:{{configMgr.mConfig[configMgr.mKey.FORGOTTENHALL_LEVELS][uid]}}/12</p></blockquote>
            {% if configMgr.mConfig[configMgr.mKey.FORGOTTENHALL_STARS][uid] == 36 %}
            <blockquote>
            {% else %}
            <blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'>
            {% endif %}
            <p>星数:{{configMgr.mConfig[configMgr.mKey.FORGOTTENHALL_STARS][uid]}}/36</p></blockquote>

            <p><strong>最新一期虚构叙事</strong></p>
            {% if configMgr.mConfig[configMgr.mKey.PUREFICTION_LEVELS][uid] == 4 %}
            <blockquote>
            {% else %}
            <blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'>
            {% endif %}
            <p>层数:{{configMgr.mConfig[configMgr.mKey.PUREFICTION_LEVELS][uid]}}/4</p></blockquote>
            {% if configMgr.mConfig[configMgr.mKey.PUREFICTION_STARS][uid] == 12 %}
            <blockquote>
            {% else %}
            <blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'>
            {% endif %}
            <p>星数:{{configMgr.mConfig[configMgr.mKey.PUREFICTION_STARS][uid]}}/12</p></blockquote>
        </section>
    </div>
</div>
<div class="post-page">
    <button class="link-button" id="daily_submitChange" onclick="daily_submitChange()">保存每日情况</button>
</div>
{% endblock %}
{% block uid %}
data-rt="{{uid}}"
{% endblock %}
{% block right_content %}
<div class="post">
    <div class=post-Img-container> 
    
    </div>
    <div class=post-txt-container>
        <div class=post-txt-container-title>
            <h6 style=color:#66ccff id="开拓力使用配置">
                开拓力使用配置
            </h6>
        </div>
        <section class=post-detail-txt style=color:#d9d9d9>
            <p>今天每日清开拓力时将要打的副本类型:
                <span class="important">{{configMgr.mConfig[configMgr.mKey.INSTANCE_TYPE][uid][0]}}</span>
            </p>
            <p>任务副本列表:
                <select class=configSelect name=instance_type_list>
                    {% for i in range(0, len) %}
                        <option value="{{i}}:{{configMgr.mConfig[configMgr.mKey.INSTANCE_TYPE][uid][i]}}">{{configMgr.mConfig[configMgr.mKey.INSTANCE_TYPE][uid][i]}}</option>
                    {% endfor %}
                </select>
            </p>
            <p>将【任务副本列表】选中的副本类型从任务副本列表中移除:
                <button class="link-button" id="remove_instance_list" style="width: 100px;min-width:5%;background-color:#40405f" onclick="remove_instance_list()">移除</button>
            </p>
            <p>选择一个副本将其替换掉【任务副本列表】选中的副本类型,或直接添加至任务副本列表队尾:
                <select class=configSelect name=add_instance_type>
                    <option value="侵蚀隧洞">侵蚀隧洞</option>
                    <option value="凝滞虚影">凝滞虚影</option>
                    <option value="拟造花萼（金）">拟造花萼（金）</option>
                    <option value="拟造花萼（赤）">拟造花萼（赤）</option>
                    <option value="模拟宇宙">模拟宇宙</option>
                </select>
                <button class="link-button" id="change_instance_list" style="width: 100px;min-width:5%;background-color:#40405f" onclick="change_instance_list()">替换</button>
                <button class="link-button" id="append_instance_list" style="width: 100px;min-width:5%;background-color:#40405f" onclick="append_instance_list()">添加至队尾</button>
            </p>
        </section>
    </div>
</div>
<div class="post">
    <div class=post-Img-container> 
    
    </div>
    <div class=post-txt-container>
        <div class=post-txt-container-title>
            <h6 style=color:#66ccff id="副本配置">
                副本配置
            </h6>
        </div>
        <section class=post-detail-txt style=color:#d9d9d9>
            <p>不同副本类型下的副本名称:</p>
            <p>拟造花萼（金）:
                <select class=configSelect name=instance_name1>
                    <option value="无" {% if '无' == configMgr.mConfig[configMgr.mKey.INSTANCE_NAMES][uid]['拟造花萼（金）'] %} selected {% endif %}>无</option>
                    {% for key, value in meta['拟造花萼（金）'].items() %}
                        <option value="{{key}}" {% if key == configMgr.mConfig[configMgr.mKey.INSTANCE_NAMES][uid]['拟造花萼（金）'] %} selected {% endif %}>{{key}}({{value}})</option>
                    {% endfor %}
                </select>
            </p>
            <p>拟造花萼（赤）:
                <select class=configSelect name=instance_name2>
                    <option value="无" {% if '无' == configMgr.mConfig[configMgr.mKey.INSTANCE_NAMES][uid]['拟造花萼（赤）'] %} selected {% endif %}>无</option>
                    {% for key, value in meta['拟造花萼（赤）'].items() %}
                        <option value="{{key}}" {% if key == configMgr.mConfig[configMgr.mKey.INSTANCE_NAMES][uid]['拟造花萼（赤）'] %} selected {% endif %}>{{key}}</option>
                    {% endfor %}
                </select>
            </p>
            <p>凝滞虚影:
                <select class=configSelect name=instance_name3>
                    <option value="无" {% if '无' == configMgr.mConfig[configMgr.mKey.INSTANCE_NAMES][uid]['凝滞虚影'] %} selected {% endif %}>无</option>
                    {% for key, value in meta['凝滞虚影'].items() %}
                        <option value="{{key}}" {% if key == configMgr.mConfig[configMgr.mKey.INSTANCE_NAMES][uid]['凝滞虚影'] %} selected {% endif %}>{{key}}({{value}})</option>
                    {% endfor %}
                </select>
            </p>
            <p>侵蚀隧洞:
                <select class=configSelect name=instance_name4>
                    <option value="无" {% if '无' == configMgr.mConfig[configMgr.mKey.INSTANCE_NAMES][uid]['侵蚀隧洞'] %} selected {% endif %}>无</option>
                    {% for key, value in meta['侵蚀隧洞'].items() %}
                        <option value="{{key}}" {% if key == configMgr.mConfig[configMgr.mKey.INSTANCE_NAMES][uid]['侵蚀隧洞'] %} selected {% endif %}>{{key}}({{value}})</option>
                    {% endfor %}
                </select>
            </p>
            <p>是否清空3次历战余响:
                <input type="checkbox" name="echo_of_war_enable" {% if configMgr.mConfig[configMgr.mKey.ECHO_OF_WAR_ENABLE][uid] %} checked {% endif %}>
            </p>
            <p>历战余响:
                <select class=configSelect name=instance_name5>
                    <option value="无" {% if '无' == configMgr.mConfig[configMgr.mKey.INSTANCE_NAMES][uid]['历战余响'] %} selected {% endif %}>无</option>
                    {% for key, value in meta['历战余响'].items() %}
                        <option value="{{key}}" {% if key == configMgr.mConfig[configMgr.mKey.INSTANCE_NAMES][uid]['历战余响'] %} selected {% endif %}>{{key}}({{value}})</option>
                    {% endfor %}
                </select>
            </p>
            <p>模拟宇宙:
                <select class=configSelect name=universe_number>
                    {% for key, value in meta['模拟宇宙'].items() %}
                        <option value="{{key}}" {% if key == (configMgr.mConfig[configMgr.mKey.UNIVERSE_NUMBER][uid] | universe_number) %} selected {% endif %}>{{value}}({{meta['模拟宇宙遗器'][key]}})</option>
                    {% endfor %}
                </select>
            </p>
            <p>模拟宇宙难度:
                <select class=configSelect name=universe_difficulty>
                    {% for key, value in meta['模拟宇宙难度'].items() %}
                        <option value="{{key}}" {% if key == (configMgr.mConfig[configMgr.mKey.UNIVERSE_DIFFICULTY][uid] | universe_number) %} selected {% endif %}>{{value}}</option>
                    {% endfor %}
                </select>
            </p>
            <p>模拟宇宙命途:
                <select class=configSelect name=universe_fate>
                    {% for key, value in meta['模拟宇宙命途'].items() %}
                        <option value="{{key}}" {% if key == (configMgr.mConfig[configMgr.mKey.UNIVERSE_FATE][uid] | universe_number) %} selected {% endif %}>{{value}}</option>
                    {% endfor %}
                </select>
            </p>
            <p>模拟宇宙队伍选择:
                <p>
                    1号位:
                    <select class=configSelect name=universe_team0 >
                    {% for char in meta['角色'] %}
                    <option value="{{char}}" {% if char == configMgr.mConfig[configMgr.mKey.UNIVERSE_TEAM][uid][0] %} selected {% endif %}>{{meta['角色'][char]}}</option>
                    {% endfor %}
                    </select>
                    2号位:
                    <select class=configSelect name=universe_team1 >
                    {% for char in meta['角色'] %}
                    <option value="{{char}}" {% if char == configMgr.mConfig[configMgr.mKey.UNIVERSE_TEAM][uid][1] %} selected {% endif %}>{{meta['角色'][char]}}</option>
                    {% endfor %}
                    </select>
                    3号位:
                    <select class=configSelect name=universe_team2 >
                    {% for char in meta['角色'] %}
                    <option value="{{char}}" {% if char == configMgr.mConfig[configMgr.mKey.UNIVERSE_TEAM][uid][2] %} selected {% endif %}>{{meta['角色'][char]}}</option>
                    {% endfor %}
                    </select>
                    4号位:
                    <select class=configSelect name=universe_team3 >
                    {% for char in meta['角色'] %}
                    <option value="{{char}}" {% if char == configMgr.mConfig[configMgr.mKey.UNIVERSE_TEAM][uid][3] %} selected {% endif %}>{{meta['角色'][char]}}</option>
                    {% endfor %}
                    </select>
                </p>
            </p>
            
        </section>
    </div>
</div>
<div class="post-page">
    <button class="link-button" id="temp1" onclick="">保存副本配置</button>
</div>
<div class="post">
    <div class=post-Img-container> 
    
    </div>
    <div class=post-txt-container>
        <div class=post-txt-container-title>
            <h6 style=color:#66ccff id="开拓力使用配置">
                遗器配置
            </h6>
        </div>
        <section class=post-detail-txt style=color:#d9d9d9>
            <p>是否开启分解遗器:
                <input type="checkbox" name="relic_salvage_enable" {% if configMgr.mConfig[configMgr.mKey.RELIC_SALVAGE_ENABLE][uid] %} checked {% endif %}>
            </p>
            <p>是否分解4星遗器:
                <input type="checkbox" name="relic_salvage_4star_enable" {% if configMgr.mConfig[configMgr.mKey.RELIC_SALVAGE_4STAR_ENABLE][uid] %} checked {% endif %}>
            </p>
            <p>是否分解5星遗器:
                <input type="checkbox" name="relic_salvage_5star_enable" {% if configMgr.mConfig[configMgr.mKey.RELIC_SALVAGE_5STAR_ENABLE][uid] %} checked {% endif %}>
            </p>
            <p>若分解5星遗器,是否分解为遗器经验材料:
                <input type="checkbox" name="relic_salvage_5star_to_exp" {% if configMgr.mConfig[configMgr.mKey.RELIC_SALVAGE_5STAR_TO_EXP][uid] %} checked {% endif %}>
            </p>
            <p>当遗器数量达到何值时触发遗器分解:
                <input name="relic_threshold_count" value="{{configMgr.mConfig[configMgr.mKey.RELIC_THRESHOLD_COUNT][uid]}}" placeholder="1111" type="number" style="width: 150px;">
            </p>
        </section>
    </div>
</div>
<div class="post-page">
    <button class="link-button" id="temp1" onclick="">保存遗器配置</button>
</div>
<div class="post">
    <div class=post-Img-container> 
    
    </div>
    <div class=post-txt-container>
        <div class=post-txt-container-title>
            <h6 style=color:#66ccff id="杂项配置">
                杂项配置
            </h6>
        </div>
        <section class=post-detail-txt style=color:#d9d9d9>
            <p>打副本时是否自动切换队伍:
                <input type="checkbox" name="instance_team_enable" {% if configMgr.mConfig[configMgr.mKey.INSTANCE_TEAM_ENABLE][uid] %} checked {% endif %}>
            </p>
            <p>要切换到的队伍编号:
                <input name="instance_team_number" value="{{configMgr.mConfig[configMgr.mKey.INSTANCE_TEAM_NUMBER][uid]}}" placeholder="1" type="number" style="width: 50px;">
            </p>
            <p>是否使用后备开拓力:
                <input type="checkbox" name="use_reserved_trailblaze_power" {% if configMgr.mConfig[configMgr.mKey.USE_RESERVED_TRAILBLAZE_POWER][uid] %} checked {% endif %}>
            </p>
            <p>是否使用燃料:
                <input type="checkbox" name="use_fuel" {% if configMgr.mConfig[configMgr.mKey.USE_FUEL][uid] %} checked {% endif %}>
            </p>
            <p>是否强制使用支援角色:
                <input type="checkbox" name="borrow_character_enable" {% if configMgr.mConfig[configMgr.mKey.BORROW_CHARACTER_ENABLE][uid] %} checked {% endif %}>
            </p>
            <p>绑定中的邮箱地址:
                <input name="notify_smtp_To" type="email" style="width: 200px;" placeholder="123456789@qq.com" value="{{configMgr.mConfig[configMgr.mKey.NOTIFY_SMTP_TO][uid]}}">
            </p>
        </section>
    </div>
</div>
<div class="post-page">
    <button class="link-button" id="temp1" onclick="">保存杂项配置</button>
</div>
{% endblock %}