{% extends 'common.html' %}
{% block head %}
流萤的秘密基地
{% endblock %}

{% block right_content %}
<div class="post">
    <div class=post-Img-container> 
    
    </div>
    <div class=post-txt-container>
        <div class=post-txt-container-title>
            <h6 style=color:#66ccff id="SMTP服务">
                SMTP服务
            </h6>
        </div>
        <section class=post-detail-txt style=color:#d9d9d9>
            <div class="webui_container">
                <div class="webui_content">
                <p>使用SMTP服务,首先需要<span class="important">登录网页qq邮箱→设置→账号→POP3/IMAP/SMTP/Exchange/CardDAV/CalDAV服务→开启服务</span></p>
                <p><a href="https://mail.qq.com/" target="_blank">打开QQ邮箱</a></p>
                <p>是否开启脚本SMTP服务:
                    <input type="checkbox" name="notify_smtp_enable" {% if configMgr.mConfig[configMgr.mKey.NOTIFY_SMTP_ENABLE] %} checked {% endif %}>
                </p>
                <div class=post-txt-container-datetime style=color:#d9d9d9>
                    此处显示的是脚本是否启动服务,需要qq邮箱和脚本都开启,才能使用
                </div>
                <p>邮箱域名:
                    <input name="notify_smtp_host" type="text" style="width: 200px;" placeholder="smtp.qq.com" value="{{configMgr.mConfig[configMgr.mKey.NOTIFY_SMTP_HOST]}}">
                </p>
                <div class=post-txt-container-datetime style=color:#d9d9d9>
                    通常就填smtp.qq.com
                </div>
                <p>邮件归档中心的邮箱地址:
                    <input name="notify_smtp_user" type="email" style="width: 200px;" placeholder="xxxxxx@qq.com" value="{{configMgr.mConfig[configMgr.mKey.NOTIFY_SMTP_USER]}}">
                </p>
                <div class=post-txt-container-datetime style=color:#d9d9d9>
                    当脚本发送邮件时,都会同时再发送另一封副本邮件到邮件归档中心,用于备份,以便随时查看所有发送过的邮件中的内容
                </div>
                <p>授权码:
                    <input name="notify_smtp_password" type="text" style="width: 200px;" placeholder="需要到对应邮箱里获取" value="{{configMgr.mConfig[configMgr.mKey.NOTIFY_SMTP_PASSWORD]}}">
                </p>
                <div class=post-txt-container-datetime style=color:#d9d9d9>
                    <span class="important">POP3/IMAP/SMTP/Exchange/CardDAV/CalDAV服务→管理服务→生成授权码</span><br>授权码相当于密码,SMTP服务登录时不使用密码而是要使用授权码
                </div>
                <p>发件人邮箱地址:
                    <input name="notify_smtp_From" type="email" style="width: 200px;" placeholder="{{configMgr.mConfig[configMgr.mKey.NOTIFY_SMTP_USER]}}" value="{{configMgr.mConfig[configMgr.mKey.NOTIFY_SMTP_FROM]}}">
                </p>
                <div class=post-txt-container-datetime style=color:#d9d9d9>
                    发件人通常填归档中心的邮箱地址,也可以另选
                </div>
                <p>脚本使用者专用邮箱地址:
                    <input name="notify_smtp_master" type="email" style="width: 200px;" placeholder="xxx@qq.com" value="{{configMgr.mConfig[configMgr.mKey.NOTIFY_SMTP_MASTER]}}">
                </p>
                </div>
        </section>
    </div>
</div>
<div class="post-page">
    <button class="link-button" id="smtp_submitChange" onclick="SmtpSubmitChange()">保存SMTP服务设置</button>
</div>
<div class="post">
    <div class=post-Img-container> 
    
    </div>
    <div class=post-txt-container>
        <div class=post-txt-container-title>
            <h6 style=color:#66ccff id="杂项">
                杂项
            </h6>
        </div>
        <section class=post-detail-txt style=color:#d9d9d9>
            <div class="webui_content">
                <p>是否检测更新:
                    <input type="checkbox" name="check_update" {% if configMgr.mConfig[configMgr.mKey.CHECK_UPDATE] %} checked {% endif %}>
                </p>
                <p>若检测更新,是否检测非稳定版通道:
                    <input type="checkbox" name="check_prerelease_update" {% if configMgr.mConfig[configMgr.mKey.CHECK_PRERELEASE_UPDATE] %} checked {% endif %}>
                </p>
                <p>是否开启透明窗口:
                    <input type="checkbox" name="dev_screen_enable" {% if configMgr.mConfig[configMgr.mKey.DEV_SCREEN_ENABLE] %} checked {% endif %}>
                </p>
                <p>循环结束后到下一次开始等待的时间:
                    <input name="next_loop_time" type="number" style="width: 100px;" placeholder="默认12小时" value="{{configMgr.mConfig[configMgr.mKey.NEXT_LOOP_TIME]}}">小时
                </p>
                <p>游戏内设置的秘技按键:
                    <input name="hotkey_technique" type="text" style="width: 60px;" placeholder="默认e" value="{{configMgr.mConfig[configMgr.mKey.HOTKEY_TECHNIQUE]}}">
                </p>
                <p>是否通过"姬子试用"完成任务:
                    <input type="checkbox" name="daily_himeko_try_enable" {% if configMgr.mConfig[configMgr.mKey.DAILY_HIMEKO_TRY_ENABLE] %} checked {% endif %}>
                </p>
                <p>是否开启OBS录制:
                    <input type="checkbox" name="recording_enable" {% if configMgr.mConfig[configMgr.mKey.RECORDING_ENABLE] %} checked {% endif %}>
                </p>
                <div class=post-txt-container-datetime style=color:#d9d9d9>
                    如果要使用录制,需要先打开OBS,并且提前设置好抓取来源,设置→输出→输出模式改为高级<br>
                    在脚本根目录下<span class="important">新建records的文件夹</span>,并将录像路径设为该文件夹,勾选"生成没有空格的文件名"<br>
                    录像格式:<span class="important">MPEG-4(.mp4)</span>,编码器设置中速率控制:<span class="important">CBR</span>,码率:<span class="important">50Kbps</span><br>
                    设置→视频中分辨率尽可能低,如1280x720,<span class="important">帧率设置为10</span><br>
                    设置→快捷键中<span class="important">开始录制</span>和<span class="important">停止录制</span>分别设置为下面所填的快捷键,<span class="important" style="color: #d85959;">快捷键不要相同!</span><br>
                    如果开启OBS录制,则会在登录游戏时开始录制,退出游戏前结束录制,并将视频作为附件添加到邮件中发送<br>
                    <span class="important">如此低画质是由于QQ邮箱无法发送超过50MB大小的附件</span>
                </div>
                <p>OBS开始录制的快捷键:
                    <input name="hotkey_obs_start" type="text" style="width: 60px;" placeholder="默认[" value="{{configMgr.mConfig[configMgr.mKey.HOTKEY_OBS_START]}}">
                </p>
                <p>OBS停止录制的快捷键:
                    <input name="hotkey_obs_stop" type="text" style="width: 60px;" placeholder="默认]" value="{{configMgr.mConfig[configMgr.mKey.HOTKEY_OBS_STOP]}}">
                </p>
                </div>
        </section>
    </div>
</div>
<div class="post-page">
    <button class="link-button" id="misc" onclick="MiscSubmitChange()">保存杂项设置</button>
</div>
<div class="post">
    <div class=post-Img-container> 
    
    </div>
    <div class=post-txt-container>
        <div class=post-txt-container-title>
            <h6 style=color:#66ccff id="黑名单管理">
                黑名单管理
            </h6>
        </div>
        <section class=post-detail-txt style=color:#d9d9d9>
            <div class="webui_content">
                <div class=post-txt-container-datetime>
                    当UID被添加进黑名单时,启动脚本的列表中将会跳过该UID
                </div>
                <p>输入一个UID将其添加至黑名单:
                    <input name="blacklist_uid" type="number" style="width: 150px;" placeholder="111111111">
                    <button class="link-button" id="append_blacklist" style="width: 100px;min-width:5%;background-color:#40405f" onclick="AppendBlacklist()">添加</button>
                </p>
                <p>将一个UID移除黑名单:
                    <select class=configSelect name=blacklist_uid>
                        {% for uid in configMgr.mConfig[configMgr.mKey.BLACKLIST_UID] %}
                            {% if uid in ['111111111','222222222'] %}
        
                            {% else %}
                                <option value="{{uid}}">{{uid}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button class="link-button" id="remove_blacklist" style="width: 100px;min-width:5%;background-color:#40405f" onclick="RemoveBlacklist()">移除</button>
                </p>
                </div>
        </section>
    </div>
</div>
<div class="post">
    <div class=post-Img-container> 
    
    </div>
    <div class=post-txt-container>
        <div class=post-txt-container-title>
            <h6 style=color:#66ccff id="兑换码">
                兑换码
            </h6>
        </div>
        <section class=post-detail-txt style=color:#d9d9d9>
            <div class="webui_content">
                <div class=post-txt-container-datetime>
                    当有兑换码时,每次上号都会按顺序兑换一次全部兑换码,添加兑换码时自行检查是否正确
                </div>
                <p>输入一个CDKEY将其添加至兑换码列表:
                    <input name="cdkey_list" type="text" style="width: 150px;">
                    <button class="link-button" id="append_cdkey_list" style="width: 100px;min-width:5%;background-color:#40405f" onclick="AppendCdkeyList()">添加</button>
                </p>
                <p>将一个CDKEY移除兑换码列表:
                    <select class=configSelect name=cdkey_list>
                        {% for cdkey in configMgr.mConfig[configMgr.mKey.CDKEY_LIST] %}
                            <option value="{{cdkey}}">{{cdkey}}</option>
                        {% endfor %}
                    </select>
                    <button class="link-button" id="remove_cdkey_list" style="width: 100px;min-width:5%;background-color:#40405f" onclick="RemoveCdkeyList()">移除</button>
                </p>
                </div>
        </section>
    </div>
</div>
<div class="post">
    <div class=post-Img-container> 
    
    </div>
    <div class=post-txt-container>
        <div class=post-txt-container-title>
            <h6 style=color:#66ccff id="助战优先级">
                助战优先级
            </h6>
        </div>
        <section class=post-detail-txt style=color:#d9d9d9>
            <div class="webui_content">
                <div class=post-txt-container-datetime>
                    助战优先级为全局生效,无法单独配置,顺序为从上到下
                </div>
                <p>选择一个角色插入到助战列表尾端:
                    <select class=configSelect name=add_borrow_character>
                    {% for char in dataMgr.meta['角色'] %}
                    <option value="{{char}}">{{dataMgr.meta['角色'][char]}}</option>
                    {% endfor %}
                    </select>
                    <button class="link-button" id="append_borrow_character" style="width: 100px;min-width:5%;background-color:#40405f" onclick="AppendBorrowCharacter()">添加</button>
                </p>
                <p>将一个角色从助战列表中移除:
                    <select class=configSelect name=remove_borrow_character>
                    {% for char in configMgr.mConfig[configMgr.mKey.BORROW_CHARACTER] %}
                    <option value="{{char}}">{{dataMgr.meta['角色'][char]}}</option>
                    {% endfor %}
                    </select>
                    <button class="link-button" id="remove_borrow_character" style="width: 100px;min-width:5%;background-color:#40405f" onclick="RemoveBorrowCharacter()">移除</button>
                </p>
            </div>
        </section>
    </div>
</div>
{% endblock %}