
{% extends 'common.html' %}
{% block head %}
HIMEPRODUCER | 管理
{% endblock %}
{% block title %}
详细情况
{% endblock %}
{% block uid %}
data-rt="{{uid}}"
{% endblock %}
{% block section %}
{% if not config.account_active[uid]['ActiveDay'] <= 3 %}
<blockquote><p>
{% else %}
<blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'><p>
{% endif %}
激活天数剩余:{{(config.account_active[uid]['ActiveDay'] - config.account_active[uid]['CostDay'])| roundDate }}天
</p></blockquote>
<h6 style=color:#66ccff>
    每日完成情况
</h6>
{% for key, value in config.daily_tasks[uid].items() %}
<p>
    <ruby>
        {{key}}
        <rt class='ttt' data-rt='{{task_score[key]}}'></rt>
    </ruby>
    :
    <input type="checkbox" name="daily_tasks" {% if not config.daily_tasks[uid][key] %} checked {% endif %}>
    
</p>
{% endfor %}
<p><strong>当前活跃度</strong></p>
{% if config.daily_tasks_fin[uid] %}
<blockquote>
{% else %}
<blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'>
{% endif %}
<p>{{config.daily_tasks_score[uid]}}/500</p></blockquote>

<p><strong>当前模拟宇宙积分</strong></p>
{% if config.universe_fin[uid] %}
<blockquote>
{% else %}
<blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'>
{% endif %}
<p>{{config.universe_score[uid]}}</p></blockquote>

<p><strong>当前历战余响次数</strong></p>
{% if config.echo_of_war_times[uid] == 0 %}
<blockquote>
{% else %}
<blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'>
{% endif %}
<p>{{config.echo_of_war_times[uid]}}/3</p></blockquote>

<p><strong>当前忘却之庭 - 混沌回忆</strong></p>
{% if config.forgottenhall_levels[uid] == 12 %}
<blockquote>
{% else %}
<blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'>
{% endif %}
<p>层数:{{config.forgottenhall_levels[uid]}}/12</p></blockquote>
{% if config.forgottenhall_stars[uid] == 36 %}
<blockquote>
{% else %}
<blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'>
{% endif %}
<p>星数:{{config.forgottenhall_stars[uid]}}/36</p></blockquote>

</section>
<hr>

<section class=post-detail-txt style=color:#d9d9d9>
<h6 style=color:#66ccff>
    配置信息
</h6>
<p>清开拓力时将要打的副本类型:
    <select class=configSelect name=instance_type>
        <option value="无" {% if "无" == config.instance_type[uid] %} selected {% endif %}>无</option>
        <option value="侵蚀隧洞" {% if '侵蚀隧洞' == config.instance_type[uid] %} selected {% endif %}>侵蚀隧洞</option>
        <option value="凝滞虚影" {% if '凝滞虚影' == config.instance_type[uid] %} selected {% endif %}>凝滞虚影</option>
        <option value="拟造花萼（金）" {% if '拟造花萼（金）' == config.instance_type[uid] %} selected {% endif %}>拟造花萼（金）</option>
        <option value="拟造花萼（赤）" {% if '拟造花萼（赤）' == config.instance_type[uid] %} selected {% endif %}>拟造花萼（赤）</option>
        <option value="模拟宇宙" {% if '模拟宇宙' == config.instance_type[uid] %} selected {% endif %}>模拟宇宙</option>
    </select>
</p>
<p>不同副本类型下的副本名称:</p>
<p>拟造花萼（金）:
    <select class=configSelect name=instance_name1>
        <option value="无" {% if '无' == config.instance_names[uid]['拟造花萼（金）'] %} selected {% endif %}>无</option>
        {% for key, value in ruby['拟造花萼（金）'].items() %}
            <option value="{{key}}" {% if key == config.instance_names[uid]['拟造花萼（金）'] %} selected {% endif %}>{{key}}({{value}})</option>
        {% endfor %}
    </select>
</p>
<p>拟造花萼（赤）:
    <select class=configSelect name=instance_name2>
        <option value="无" {% if '无' == config.instance_names[uid]['拟造花萼（赤）'] %} selected {% endif %}>无</option>
        {% for key, value in ruby['拟造花萼（赤）'].items() %}
            <option value="{{key}}" {% if key == config.instance_names[uid]['拟造花萼（赤）'] %} selected {% endif %}>{{key}}</option>
        {% endfor %}
    </select>
</p>
<p>凝滞虚影:
    <select class=configSelect name=instance_name3>
        <option value="无" {% if '无' == config.instance_names[uid]['凝滞虚影'] %} selected {% endif %}>无</option>
        {% for key, value in ruby['凝滞虚影'].items() %}
            <option value="{{key}}" {% if key == config.instance_names[uid]['凝滞虚影'] %} selected {% endif %}>{{key}}({{value}})</option>
        {% endfor %}
    </select>
</p>
<p>侵蚀隧洞:
    <select class=configSelect name=instance_name4>
        <option value="无" {% if '无' == config.instance_names[uid]['侵蚀隧洞'] %} selected {% endif %}>无</option>
        {% for key, value in ruby['侵蚀隧洞'].items() %}
            <option value="{{key}}" {% if key == config.instance_names[uid]['侵蚀隧洞'] %} selected {% endif %}>{{key}}({{value}})</option>
        {% endfor %}
    </select>
</p>
<p>是否清空3次历战余响:
    <input type="checkbox" name="echo_of_war_enable" {% if config.echo_of_war_enable[uid] %} checked {% endif %}>
</p>
<p>历战余响:
    <select class=configSelect name=instance_name5>
        <option value="无" {% if '无' == config.instance_names[uid]['历战余响'] %} selected {% endif %}>无</option>
        {% for key, value in ruby['历战余响'].items() %}
            <option value="{{key}}" {% if key == config.instance_names[uid]['历战余响'] %} selected {% endif %}>{{key}}({{value}})</option>
        {% endfor %}
    </select>
</p>
<p>是否分解遗器:
    <input type="checkbox" name="relic_salvage_enable" value="relic_salvage_enable" {% if config.relic_salvage_enable[uid] %} checked {% endif %}>
</p>
<p>模拟宇宙:
    <select class=configSelect name=universe_number>
        {% for key, value in ruby['模拟宇宙'].items() %}
            <option value="{{key}}" {% if key == (config.universe_number[uid] | universe_number) %} selected {% endif %}>{{value}}({{ruby['模拟宇宙遗器'][key]}})</option>
        {% endfor %}
    </select>
</p>
<p>模拟宇宙难度:
    <select class=configSelect name=universe_difficulty>
        {% for key, value in ruby['模拟宇宙难度'].items() %}
            <option value="{{key}}" {% if key == (config.universe_difficulty[uid] | universe_number) %} selected {% endif %}>{{value}}</option>
        {% endfor %}
    </select>
</p>
<p>模拟宇宙命途:
    <select class=configSelect name=universe_fate>
        {% for key, value in ruby['模拟宇宙命途'].items() %}
            <option value="{{key}}" {% if key == config.universe_fate[uid] %} selected {% endif %}>{{value}}</option>
        {% endfor %}
    </select>
</p>
<p>模拟宇宙队伍选择:
    <p>
        1号位:
        <select class=configSelect name=universe_team0 >
        {% for char in ruby['角色'] %}
        <option value="{{char}}" {% if char == config.universe_team[uid][0] %} selected {% endif %}>{{ruby['角色'][char]}}</option>
        {% endfor %}
        </select>
        2号位:
        <select class=configSelect name=universe_team1 >
        {% for char in ruby['角色'] %}
        <option value="{{char}}" {% if char == config.universe_team[uid][1] %} selected {% endif %}>{{ruby['角色'][char]}}</option>
        {% endfor %}
        </select>
        3号位:
        <select class=configSelect name=universe_team2 >
        {% for char in ruby['角色'] %}
        <option value="{{char}}" {% if char == config.universe_team[uid][2] %} selected {% endif %}>{{ruby['角色'][char]}}</option>
        {% endfor %}
        </select>
        4号位:
        <select class=configSelect name=universe_team3 >
        {% for char in ruby['角色'] %}
        <option value="{{char}}" {% if char == config.universe_team[uid][3] %} selected {% endif %}>{{ruby['角色'][char]}}</option>
        {% endfor %}
        </select>
    </p>
</p>
<h6 style=color:#66ccff>
    激活信息
</h6>
<p>是否过期:
    {% if config.account_active[uid]['isExpired'] %} 
    <span class=important style=background-color:#40405f;color:#d85959>已过期 
    {% else %} 
    <span class=important style=background-color:#40405f;color:#66ccff>未过期
    {% endif %}
    </span>
</p>
<div class=post-txt-container-datetime style=color:#d9d9d9>
    如果过期,则启动Client时显示的列表中将跳过该UID
</div>
<p>激活起始日期:
    <span class=important style=background-color:#40405f;color:#66ccff>{{ActiveDate}}</span>
</p>
<p>激活的天数:
    <span class=important style=background-color:#40405f;color:#66ccff>{{config.account_active[uid]['ActiveDay']}}</span>天
</p>
<blockquote>
<p>更改激活天数:
    <input name="changeActiveDay" type="number" style="width: 100px;" value="{{config.account_active[uid]['ActiveDay']}}">天
</p>
<p>再次确认是否更改?
    <input name="isWantActive" type="checkbox" {% if config.account_active[uid]['isWantActive'] %} checked {% endif %}>
</p>
</blockquote>
<div class=post-txt-container-datetime style=color:#d9d9d9>
    若要<span class=important>保存更改激活天数必须勾选再次确认</span>,在不勾选的情况下如果保存激活信息,则更改激活天数不会做出修改<br>
    勾选后需要等到下一次启动Client时脚本将会根据新的天数再次激活UID并重新计算过期时间
</div>
<p>激活过期日期:
    <span class=important style=background-color:#40405f;color:#66ccff>{{ExpirationDate}}</span>
</p>
<p>激活天数剩余:
    <span class=important style=background-color:#40405f;color:#66ccff>{{(config.account_active[uid]['ActiveDay'] - config.account_active[uid]['CostDay'])|roundDate}}</span>天
</p>
<p>绑定中的邮箱地址:
    <input name="notify_smtp_To" type="email" style="width: 200px;" placeholder="123456789@qq.com" value="{{config.notify_smtp_To[uid]}}">
</p>
{% endblock %}
{% block bottompostpage %}
<div class="post-page">
    <button class="link-button" id="daily_submitChange" onclick="daily_submitChange()">保存每日情况</button>
    <button class="link-button" id="config_submitChange" onclick="config_submitChange()">保存配置信息</button>
    <button class="link-button" id="active_submitChange" onclick="active_submitChange()">保存激活信息</button>
</div>
{% endblock %}
{% block post_datetime %}
<div class=post-txt-container-datetime style=color:#d9d9d9>
    <span class=important style=background-color:#40405f;color:#66ccff>
        [{{uid}}]
    </span>
</div>
{% endblock %}