
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon.ico') }}">
        <meta content="HimeProducer" name="title">
        <meta content="Himesamanoyume" name="author-name1">
        <meta content="Princess Dreamland" name="author-name2">
        <title>HimeProducer | 管理</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}"/>
        <script src="{{ url_for('static', filename='js/jquery.js') }}" defer></script>
    </head>
    <body class="body" style=background-color:#3a3a3a data-rt="{{uid}}">
        <header class=header style=position:sticky>
            <nav class=nav style='margin:0 15px;justify-content:center;background-color:#2b2b2b'>
                <span class=blogName style=color:#d9d9d9 id=nav-index>
                    <a href="./">HIMEPRODUCER</a>
                </span>
            </nav>
        </header>
        <main class=main>
            <div class=home-container>
                <div class=post-container style=margin:0;box-sizing:border-box;max-width:100%;width:100%;height:100%;border:0>
                    <div class=post style=background-color:#2b2b2b>
                        <div class=post-Img-container>
                            
                        </div>
                        <div class=post-txt-container>
                            <div class=post-txt-container-title style=color:#d9d9d9>
                                <h4 style=color:#66ccff>
                                    详细情况
                                </h4>
                            </div>
                            <section class=post-detail-txt style=color:#d9d9d9>
                                {% if not config.account_active[uid]['ActiveDay'] <= 3 %}
                                <blockquote><p>
                                {% else %}
                                <blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'><p>
                                {% endif %}
                                激活天数剩余:{{config.account_active[uid]['ActiveDay'] - config.account_active[uid]['CostDay']}}天
                                </p></blockquote>
                                <p><strong>每日完成情况</strong></p>
                                {% for key, value in config.daily_tasks[uid].items() %}
                                <p>
                                    <ruby>
                                        {{key}}
                                        <rt class='ttt' data-rt='{{task_score[key]}}'></rt>
                                    </ruby>
                                    :
                                    {% if config.daily_tasks[uid][key] %}
                                        未完成
                                    {% else %}
                                        <span class=important style=background-color:#40405f;color:#66ccff>已完成</span>
                                    {% endif %}
                                </p>
                                {% endfor %}
                                <p><strong>当前活跃度</strong></p>
                                {% if config.daily_tasks_fin[uid] %}
                                <blockquote>
                                {% else %}
                                <blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'>
                                {% endif %}
                                <p>{{config.daily_tasks_score[uid]}}/500</p></blockquote>

                                <p><strong>当前模拟宇宙积分</strong></p>
                                {% if config.universe_fin[uid] %}
                                <blockquote>
                                {% else %}
                                <blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'>
                                {% endif %}
                                <p>{{config.universe_score[uid]}}</p></blockquote>

                                <p><strong>当前历战余响次数</strong></p>
                                {% if config.echo_of_war_times[uid] == 0 %}
                                <blockquote>
                                {% else %}
                                <blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'>
                                {% endif %}
                                <p>{{config.echo_of_war_times[uid]}}/3</p></blockquote>

                                <p><strong>当前忘却之庭 - 混沌回忆</strong></p>
                                {% if config.forgottenhall_levels[uid] == 10 %}
                                <blockquote>
                                {% else %}
                                <blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'>
                                {% endif %}
                                <p>层数:{{config.forgottenhall_levels[uid]}}/10</p></blockquote>
                                {% if config.forgottenhall_stars[uid] == 30 %}
                                <blockquote>
                                {% else %}
                                <blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'>
                                {% endif %}
                                <p>星数:{{config.forgottenhall_stars[uid]}}/30</p></blockquote>

                            </section>
                            <hr>
                            <div class=post-txt-container-title style=color:#d9d9d9>
                                <h4 style=color:#66ccff>
                                    设置界面
                                </h4>
                            </div>
                            <section class=post-detail-txt style=color:#d9d9d9>
                                <p>清开拓力时将要打的副本类型:
                                    <select class=configSelect name=instance_type>
                                        <option value="无" {% if "无" == config.instance_type[uid] %} selected {% endif %}>无</option>
                                        <option value="侵蚀隧洞" {% if '侵蚀隧洞' == config.instance_type[uid] %} selected {% endif %}>侵蚀隧洞</option>
                                        <option value="凝滞虚影" {% if '凝滞虚影' == config.instance_type[uid] %} selected {% endif %}>凝滞虚影</option>
                                        <option value="拟造花萼（金）" {% if '拟造花萼（金）' == config.instance_type[uid] %} selected {% endif %}>拟造花萼（金）</option>
                                        <option value="拟造花萼（赤）" {% if '拟造花萼（赤）' == config.instance_type[uid] %} selected {% endif %}>拟造花萼（赤）</option>
                                        <option value="模拟宇宙" {% if '模拟宇宙' == config.instance_type[uid] %} selected {% endif %}>模拟宇宙</option>
                                    </select>
                                </p>
                                <p>不同副本类型下的副本名称:</p>
                                <p>拟造花萼（金）:
                                    <select class=configSelect name=instance_name1>
                                        <option value="无" {% if '无' == config.instance_names[uid]['拟造花萼（金）'] %} selected {% endif %}>无</option>
                                        <option value="回忆之蕾" {% if '回忆之蕾' == config.instance_names[uid]['拟造花萼（金）'] %} selected {% endif %}>回忆之蕾({{ruby['拟造花萼（金）']['回忆之蕾']}})</option>
                                        <option value="以太之蕾" {% if '以太之蕾' == config.instance_names[uid]['拟造花萼（金）'] %} selected {% endif %}>以太之蕾({{ruby['拟造花萼（金）']['以太之蕾']}})</option>
                                        <option value="藏珍之蕾" {% if '藏珍之蕾' == config.instance_names[uid]['拟造花萼（金）'] %} selected {% endif %}>藏珍之蕾({{ruby['拟造花萼（金）']['藏珍之蕾']}})</option>
                                    </select>
                                </p>
                                <p>拟造花萼（赤）:
                                    <select class=configSelect name=instance_name2>
                                        <option value="无" {% if '无' == config.instance_names[uid]['拟造花萼（赤）'] %} selected {% endif %}>无</option>
                                        <option value="毁灭之蕾" {% if '毁灭之蕾' == config.instance_names[uid]['拟造花萼（赤）'] %} selected {% endif %}>毁灭之蕾</option>
                                        <option value="存护之蕾" {% if '存护之蕾' == config.instance_names[uid]['拟造花萼（赤）'] %} selected {% endif %}>存护之蕾</option>
                                        <option value="巡猎之蕾" {% if '巡猎之蕾' == config.instance_names[uid]['拟造花萼（赤）'] %} selected {% endif %}>巡猎之蕾</option>
                                        <option value="丰饶之蕾" {% if '丰饶之蕾' == config.instance_names[uid]['拟造花萼（赤）'] %} selected {% endif %}>丰饶之蕾</option>
                                        <option value="智识之蕾" {% if '智识之蕾' == config.instance_names[uid]['拟造花萼（赤）'] %} selected {% endif %}>智识之蕾</option>
                                        <option value="同谐之蕾" {% if '同谐之蕾' == config.instance_names[uid]['拟造花萼（赤）'] %} selected {% endif %}>同谐之蕾</option>
                                        <option value="虚无之蕾" {% if '虚无之蕾' == config.instance_names[uid]['拟造花萼（赤）'] %} selected {% endif %}>虚无之蕾</option>
                                    </select>
                                </p>
                                <p>凝滞虚影:
                                    <select class=configSelect name=instance_name3>
                                        <option value="无" {% if '无' == config.instance_names[uid]['凝滞虚影'] %} selected {% endif %}>无</option>
                                        <option value="空海之形" {% if '空海之形' == config.instance_names[uid]['凝滞虚影'] %} selected {% endif %}>空海之形({{ruby['凝滞虚影']['空海之形']}})</option>
                                        <option value="巽风之形" {% if '巽风之形' == config.instance_names[uid]['凝滞虚影'] %} selected {% endif %}>巽风之形({{ruby['凝滞虚影']['巽风之形']}})</option>
                                        <option value="鸣雷之形" {% if '鸣雷之形' == config.instance_names[uid]['凝滞虚影'] %} selected {% endif %}>鸣雷之形({{ruby['凝滞虚影']['鸣雷之形']}})</option>
                                        <option value="炎华之形" {% if '炎华之形' == config.instance_names[uid]['凝滞虚影'] %} selected {% endif %}>炎华之形({{ruby['凝滞虚影']['炎华之形']}})</option>
                                        <option value="锋芒之形" {% if '锋芒之形' == config.instance_names[uid]['凝滞虚影'] %} selected {% endif %}>锋芒之形({{ruby['凝滞虚影']['锋芒之形']}})</option>
                                        <option value="霜晶之形" {% if '霜晶之形' == config.instance_names[uid]['凝滞虚影'] %} selected {% endif %}>霜晶之形({{ruby['凝滞虚影']['霜晶之形']}})</option>
                                        <option value="幻光之形" {% if '幻光之形' == config.instance_names[uid]['凝滞虚影'] %} selected {% endif %}>幻光之形({{ruby['凝滞虚影']['幻光之形']}})</option>
                                        <option value="冰棱之形" {% if '冰棱之形' == config.instance_names[uid]['凝滞虚影'] %} selected {% endif %}>冰棱之形({{ruby['凝滞虚影']['冰棱之形']}})</option>
                                        <option value="震厄之形" {% if '震厄之形' == config.instance_names[uid]['凝滞虚影'] %} selected {% endif %}>震厄之形({{ruby['凝滞虚影']['震厄之形']}})</option>
                                        <option value="孽兽之形" {% if '孽兽之形' == config.instance_names[uid]['凝滞虚影'] %} selected {% endif %}>孽兽之形({{ruby['凝滞虚影']['孽兽之形']}})</option>
                                        <option value="燔灼之形" {% if '燔灼之形' == config.instance_names[uid]['凝滞虚影'] %} selected {% endif %}>燔灼之形({{ruby['凝滞虚影']['燔灼之形']}})</option>
                                        <option value="天人之形" {% if '天人之形' == config.instance_names[uid]['凝滞虚影'] %} selected {% endif %}>天人之形({{ruby['凝滞虚影']['天人之形']}})</option>
                                        <option value="偃偶之形" {% if '偃偶之形' == config.instance_names[uid]['凝滞虚影'] %} selected {% endif %}>偃偶之形({{ruby['凝滞虚影']['偃偶之形']}})</option>
                                        <option value="幽府之形" {% if '幽府之形' == config.instance_names[uid]['凝滞虚影'] %} selected {% endif %}>幽府之形({{ruby['凝滞虚影']['幽府之形']}})</option>
                                    </select>
                                </p>
                                <p>侵蚀隧洞:
                                    <select class=configSelect name=instance_name4>
                                        <option value="无" {% if '无' == config.instance_names[uid]['侵蚀隧洞'] %} selected {% endif %}>无</option>
                                        <option value="霜风之径" {% if '霜风之径' == config.instance_names[uid]['侵蚀隧洞'] %} selected {% endif %}>霜风之径({{ruby['侵蚀隧洞']['霜风之径']}})</option>
                                        <option value="迅拳之径" {% if '迅拳之径' == config.instance_names[uid]['侵蚀隧洞'] %} selected {% endif %}>迅拳之径({{ruby['侵蚀隧洞']['迅拳之径']}})</option>
                                        <option value="漂泊之径" {% if '漂泊之径' == config.instance_names[uid]['侵蚀隧洞'] %} selected {% endif %}>漂泊之径({{ruby['侵蚀隧洞']['漂泊之径']}})</option>
                                        <option value="睿治之径" {% if '睿治之径' == config.instance_names[uid]['侵蚀隧洞'] %} selected {% endif %}>睿治之径({{ruby['侵蚀隧洞']['睿治之径']}})</option>
                                        <option value="圣颂之径" {% if '圣颂之径' == config.instance_names[uid]['侵蚀隧洞'] %} selected {% endif %}>圣颂之径({{ruby['侵蚀隧洞']['圣颂之径']}})</option>
                                        <option value="野焰之径" {% if '野焰之径' == config.instance_names[uid]['侵蚀隧洞'] %} selected {% endif %}>野焰之径({{ruby['侵蚀隧洞']['野焰之径']}})</option>
                                        <option value="药使之径" {% if '药使之径' == config.instance_names[uid]['侵蚀隧洞'] %} selected {% endif %}>药使之径({{ruby['侵蚀隧洞']['药使之径']}})</option>
                                        <option value="幽冥之径" {% if '幽冥之径' == config.instance_names[uid]['侵蚀隧洞'] %} selected {% endif %}>幽冥之径({{ruby['侵蚀隧洞']['幽冥之径']}})</option>
                                    </select>
                                </p>
                                <p>是否清空3次历战余响:
                                    <input type="checkbox" name="echo_of_war_enable" {% if config.echo_of_war_enable[uid] %} checked {% endif %}>
                                </p>
                                <p>历战余响:
                                    <select class=configSelect name=instance_name5>
                                        <option value="无" {% if '无' == config.instance_names[uid]['历战余响'] %} selected {% endif %}>无</option>
                                        <option value="毁灭的开端" {% if '毁灭的开端' == config.instance_names[uid]['历战余响'] %} selected {% endif %}>毁灭的开端({{ruby['历战余响']['毁灭的开端']}})</option>
                                        <option value="寒潮的落幕" {% if '寒潮的落幕' == config.instance_names[uid]['历战余响'] %} selected {% endif %}>寒潮的落幕({{ruby['历战余响']['寒潮的落幕']}})</option>
                                        <option value="不死的神实" {% if '不死的神实' == config.instance_names[uid]['历战余响'] %} selected {% endif %}>不死的神实({{ruby['历战余响']['不死的神实']}})</option>
                                    </select>
                                </p>
                                <p>是否分解遗器:
                                    <input type="checkbox" name="relic_salvage_enable" value="relic_salvage_enable" {% if config.relic_salvage_enable[uid] %} checked {% endif %}>
                                </p>
                                <p>模拟宇宙:
                                    <select class=configSelect name=universe_number>
                                        <option value="3" {% if 3 == config.universe_number[uid] %} selected {% endif %}>第三世界({{ruby['模拟宇宙']["3"]}})</option>
                                        <option value="4" {% if 4 == config.universe_number[uid] %} selected {% endif %}>第四世界({{ruby['模拟宇宙']["4"]}})</option>
                                        <option value="5" {% if 5 == config.universe_number[uid] %} selected {% endif %}>第五世界({{ruby['模拟宇宙']["5"]}})</option>
                                        <option value="6" {% if 6 == config.universe_number[uid] %} selected {% endif %}>第六世界({{ruby['模拟宇宙']["6"]}})</option>
                                        <option value="7" {% if 7 == config.universe_number[uid] %} selected {% endif %}>第七世界({{ruby['模拟宇宙']["7"]}})</option>
                                        <option value="8" {% if 8 == config.universe_number[uid] %} selected {% endif %}>第八世界({{ruby['模拟宇宙']["8"]}})</option>
                                    </select>
                                </p>
                                <p>模拟宇宙难度:
                                    <select class=configSelect name=universe_difficulty>
                                        <option value="1" {% if 1 == config.universe_difficulty[uid] %} selected {% endif %}>难度1</option>
                                        <option value="2" {% if 2 == config.universe_difficulty[uid] %} selected {% endif %}>难度2</option>
                                        <option value="3" {% if 3 == config.universe_difficulty[uid] %} selected {% endif %}>难度3</option>
                                        <option value="4" {% if 4 == config.universe_difficulty[uid] %} selected {% endif %}>难度4</option>
                                        <option value="5" {% if 5 == config.universe_difficulty[uid] %} selected {% endif %}>难度5</option>
                                    </select>
                                </p>
                                <p>模拟宇宙命途:
                                    <select class=configSelect name=universe_fate>
                                        <option value="存护" {% if '存护' == config.universe_fate[uid] %} selected {% endif %}>存护</option>
                                        <option value="记忆" {% if '记忆' == config.universe_fate[uid] %} selected {% endif %}>记忆</option>
                                        <option value="虚无" {% if '虚无' == config.universe_fate[uid] %} selected {% endif %}>虚无</option>
                                        <option value="丰饶" {% if '丰饶' == config.universe_fate[uid] %} selected {% endif %}>丰饶</option>
                                        <option value="巡猎" {% if '巡猎' == config.universe_fate[uid] %} selected {% endif %}>巡猎</option>
                                        <option value="毁灭" {% if '毁灭' == config.universe_fate[uid] %} selected {% endif %}>毁灭</option>
                                        <option value="欢愉" {% if '欢愉' == config.universe_fate[uid] %} selected {% endif %}>欢愉</option>
                                        <option value="繁育" {% if '繁育' == config.universe_fate[uid] %} selected {% endif %}>繁育</option>
                                    </select>
                                </p>
                                <p>模拟宇宙队伍选择(不提供修改):
                                    <span class=important style=background-color:#40405f;color:#66ccff>
                                        {{ruby["角色"][config.universe_team[uid][0]]}},
                                        {{ruby["角色"][config.universe_team[uid][1]]}},
                                        {{ruby["角色"][config.universe_team[uid][2]]}},
                                        {{ruby["角色"][config.universe_team[uid][3]]}}
                                    </span>
                                </p>
                                
                            </section>
                            
                            <div class=post-txt-container-datetime style=color:#d9d9d9>
                                <span class=important style=background-color:#40405f;color:#66ccff>
                                    [{{uid}}]
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="post-page">
                        <button class="link-button" id="submitChange" onclick="submitChange()">提交</button>
                    </div>
                </div>
                <aside class=info-container>
                    <div class=info-container-inner id=info-container-inner>
                        <div class=info style=background-color:#2b2b2b>
                            <div class=fiximg style=width:100%;border-bottom-left-radius:0;border-bottom-right-radius:0;display:block>
                                <div class=fiximg__container style=display:block;margin:0>
                                    <img class=info-icon loading=lazy src=https://blog.princessdreamland.top/usericon.webp style=margin-top:20px;max-height:185px;border-radius:3px;max-width:185px;width:100%;border:0;background-color:#66ccff>
                                </div>
                            </div>
                            <div class=info-name style=color:#d9d9d9>
                                <ruby>姫様の夢<rt class='ttt' data-rt='Ginka可爱捏'></rt></ruby>
                            </div>
                            <div class=info-txt style=color:#d9d9d9>
                                Princess Dreamland
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </main>
        <footer class=footer style=color:#d9d9d9>
            <div class=footer-content>
                Copyright © 2021-2023 @姫様の夢/公主殿下的梦境
            </div>
            <div class=footer-content>
                <a>HIMEPRODUCER</a> Ver.Config
            </div>
        </footer>
    </body>
</html>
