{% extends 'common.html' %}
{% block head %}
HIMEPRODUCER | 主页
{% endblock %}
{% block toppostpage %}
<div class="post-page">
    <a class="link-button" id="notify" style="text-decoration:none" href="./notify" >发布公告界面</a>
    <a class="link-button" id="register" style="text-decoration:none" href="./register">注册界面</a>
    <a class="link-button" id="active" style="text-decoration:none" href="./active">全体续期界面</a>
</div>
<div class="post-page">
    <button class="link-button" id="smtp" onclick="smtp_submitChange()">保存SMTP服务设置</button>
    <button class="link-button" id="misc" onclick="misc_submitChange()">保存杂项设置</button>
</div>
{% endblock %}
{% block title %}
管理界面
{% endblock %}
{% block section %}
    <blockquote style='background-color:#5f4040;box-shadow:3px 0 0 0 #d85959 inset;'>
        <p>由于网页后台和脚本运行时都会对配置文件进行修改,因此尽量不要在脚本运行时在后台修改配置文件,可能出现脚本刚修改完还没有保存就又被后台修改了文件的情况,这将会导致其中一边的修改不会被保存下来</p>
    </blockquote>
    <h6 style=color:#66ccff>
        SMTP服务
    </h6>
    <details>
    <summary>点击</summary>
    <p>使用SMTP服务,首先需要<span class="important">登录网页qq邮箱→设置→账号→POP3/IMAP/SMTP/Exchange/CardDAV/CalDAV服务→开启服务</span></p>
    <p><a href="https://mail.qq.com/" target="_blank">打开QQ邮箱</a></p>
    <p>是否开启脚本SMTP服务:
        <input type="checkbox" name="notify_smtp_enable" {% if config.notify_smtp_enable %} checked {% endif %}>
    </p>
    <div class=post-txt-container-datetime style=color:#d9d9d9>
        此处显示的是脚本是否启动服务,需要qq邮箱和脚本都开启,才能使用
    </div>
    <p>邮箱域名:
        <input name="notify_smtp_host" type="text" style="width: 200px;" placeholder="smtp.qq.com" value="{{config.notify_smtp_host}}">
    </p>
    <div class=post-txt-container-datetime style=color:#d9d9d9>
        通常就填smtp.qq.com
    </div>
    <p>邮件归档中心的邮箱地址:
        <input name="notify_smtp_user" type="email" style="width: 200px;" placeholder="xxxxxx@qq.com" value="{{config.notify_smtp_user}}">
    </p>
    <div class=post-txt-container-datetime style=color:#d9d9d9>
        当脚本发送邮件时,都会同时再发送另一封副本邮件到邮件归档中心,用于备份,以便随时查看所有发送过的邮件中的内容
    </div>
    <p>授权码:
        <input name="notify_smtp_password" type="text" style="width: 200px;" placeholder="需要到对应邮箱里获取" value="{{config.notify_smtp_password}}">
    </p>
    <div class=post-txt-container-datetime style=color:#d9d9d9>
        <span class="important">POP3/IMAP/SMTP/Exchange/CardDAV/CalDAV服务→管理服务→生成授权码</span><br>授权码相当于密码,SMTP服务登录时不使用密码而是要使用授权码
    </div>
    <p>发件人邮箱地址:
        <input name="notify_smtp_From" type="email" style="width: 200px;" placeholder="{{config.notify_smtp_user}}" value="{{config.notify_smtp_From}}">
    </p>
    <div class=post-txt-container-datetime style=color:#d9d9d9>
        发件人通常填归档中心的邮箱地址,也可以另选
    </div>
    <p>脚本使用者专用邮箱地址:
        <input name="notify_smtp_master" type="email" style="width: 200px;" placeholder="xxx@qq.com" value="{{config.notify_smtp_master}}">
    </p>
    <div class=post-txt-container-datetime style=color:#d9d9d9>
        用于在发送全体公告时会额外发送一份至专用邮箱,以便查看邮件内容是否正确
    </div>
    </details>
    <h6 style=color:#66ccff>
        杂项
    </h6>
    <details>
    <summary>点击</summary>
    <p>循环结束后到下一次开始等待的时间:
        <input name="next_loop_time" type="number" style="width: 50px;" placeholder="默认12小时" value="{{config.next_loop_time}}">小时
    </p>
    <p>游戏内设置的秘技按键:
        <input name="hotkey_technique" type="text" style="width: 60px;" placeholder="默认e" value="{{config.hotkey_technique}}">
    </p>
    <p>是否开启OBS录制:
        <input type="checkbox" name="recording_enable" {% if config.recording_enable %} checked {% endif %}>
    </p>
    <div class=post-txt-container-datetime style=color:#d9d9d9>
        如果要使用录制,需要先打开OBS,并且提前设置好抓取来源,设置→输出→输出模式改为高级<br>
        在脚本根目录下<span class="important">新建records的文件夹</span>,并将录像路径设为该文件夹,勾选"生成没有空格的文件名"<br>
        录像格式:<span class="important">MPEG-4(.mp4)</span>,编码器设置中速率控制:<span class="important">CBR</span>,码率:<span class="important">50Kbps</span><br>
        设置→视频中分辨率尽可能低,如1280x720,<span class="important">帧率设置为10</span><br>
        设置→快捷键中<span class="important">开始录制</span>和<span class="important">停止录制</span>分别设置为下面所填的快捷键,<span class="important" style="color: #d85959;">快捷键不要相同!</span><br>
        如果开启OBS录制,则会在登录游戏时开始录制,退出游戏前结束录制,并将视频作为附件添加到邮件中发送<br>
        <span class="important">如此低画质是由于QQ邮箱无法发送超过50MB大小的附件</span>
    </div>
    <p>OBS开始录制的快捷键:
        <input name="hotkey_obs_start" type="text" style="width: 60px;" placeholder="默认[" value="{{config.hotkey_obs_start}}">
    </p>
    <p>OBS停止录制的快捷键:
        <input name="hotkey_obs_stop" type="text" style="width: 60px;" placeholder="默认]" value="{{config.hotkey_obs_stop}}">
    </p>
    </details>
    <hr>
    <h6 style=color:#66ccff>
        UID总览
    </h6>
    <div class=post-txt-container-datetime style=color:#d9d9d9>
        若显示√代表该UID每日任务已完成,最后则是该UID绑定的邮箱地址
    </div>
    {% for uid in loginList %}
        <p><a href="/{{uid}}">
            {% if config.daily_tasks_fin[uid] %}√|{% endif %}<ruby>{{uid}}<rt class='ttt' data-rt="{{config.account_active[uid]['ActiveDay'] - config.account_active[uid]['CostDay']}}天"></rt></ruby>|{{config.notify_smtp_To[uid]}}
            </a>
        </p>
    {% endfor %}
{% endblock %}
