name: Build realtime release
on:
  workflow_dispatch:
permissions:
  contents: write
jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11.1'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt pyinstaller

      - name: Generate program
        run: |
          pyinstaller -D --distpath .\dist\M7A_Private_v1.7.9 -i .\assets\logo\March7th.ico --contents-directory libraries --exclude-module PyQt5 --uac-admin -n 'March7th Assistant Client' --onefile main.py -y
          pyinstaller -D --distpath .\dist\M7A_Private_v1.7.9 -i .\assets\logo\Terminal.ico --contents-directory libraries --exclude-module PyQt5 --uac-admin -n 'March7th Assistant Register' --onefile reg.py -y
          pyinstaller -D --distpath .\dist\M7A_Private_v1.7.9 -i .\assets\logo\Terminal.ico --contents-directory libraries --exclude-module PyQt5 --uac-admin -n 'March7th Assistant Server' --onefile --add-data='templates;templates' --add-data='static;static' server.py -y
          pyinstaller -F --distpath .\dist\M7A_Private_v1.7.9 -i .\assets\logo\Update.ico -n 'Update' update.py -y

      - name: Move assets to dist directory
        run: |
          xcopy /E /I /Y .\assets\ .\dist\M7A_Private_v1.7.9\assets\
          xcopy /E /I /Y .\static\ .\dist\M7A_Private_v1.7.9\static\
          xcopy /Y .\README.md .\dist\M7A_Private_v1.7.9\
          xcopy /Y .\static\css\common.css .\dist\M7A_Private_v1.7.9\assets\css\

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: March7thAssistantPrivate_${{ github.run_number }}
          path: ./dist/M7A_Private_v1.7.9
          retention-days: 1