name: Build realtime release
on:
  workflow_dispatch:
  pull_request:
    paths:
      - '**.py'
  push:
    branches:
      - main
    paths:
      - '**.py'
permissions:
  contents: write
jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11.4'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt pyinstaller

      - name: Generate program
        run: |
          pyinstaller -D --distpath .\dist\March7thAssistantPrivate -i .\assets\logo\March7th.ico --contents-directory libraries --exclude-module PyQt5 --uac-admin -n "March7th Assistant Client" --onefile main.py -y
          pyinstaller -D --distpath .\dist\March7thAssistantPrivate -i .\assets\logo\Terminal.ico --contents-directory libraries --exclude-module PyQt5 --uac-admin -n "March7th Assistant Register" --onefile reg.py -y
          pyinstaller -D --distpath .\dist\March7thAssistantPrivate -i .\assets\logo\Terminal.ico --contents-directory libraries --exclude-module PyQt5 --uac-admin -n "March7th Assistant Server" --onefile --add-data='templates;templates' --add-data='static;static' server.py -y
          pyinstaller -F --distpath .\dist\March7thAssistantPrivate\ -i .\assets\logo\Update.ico -n "Update" update.py -y

      - name: Move assets to dist directory
        run: |
          xcopy /E /I /Y .\assets\ .\dist\March7thAssistantPrivate\assets\
          xcopy /E /I /Y .\static\ .\dist\March7thAssistantPrivate\static\
          xcopy /Y .\README.md .\dist\March7thAssistantPrivate\

      - name: Create zip archive
        run: |
          ren .\dist\March7thAssistantPrivate March7thAssistantPrivate_${{ github.run_number }}
          powershell Compress-Archive -Path .\dist\March7thAssistantPrivate_${{ github.run_number }}\ -DestinationPath .\dist\March7thAssistantPrivate_${{ github.run_number }}.zip -Force

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: March7thAssistantPrivate_${{ github.run_number }}.zip
          path: ./dist/March7thAssistantPrivate_${{ github.run_number }}.zip